body { margin: 0; background: radial-gradient(#EFF0F1,#B8B8B8);}
canvas { 
    width: 100%; 
    height: 100%; 
    position: fixed;
    z-index: -1;
}
.page-wrapper {
	padding: 0px;
	margin: 12px 48px;
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 2*48px);
    word-wrap: break-word;
    height: 100vh;
    background: transparent;
    background: url(https://static.sketchfab.com/static/builds/web/dist/static/assets/images/errors/foreground-16aba946a4d20cd3dd87e61fc8b3a758.svg);
    z-index: -2;
    margin: 0;
    width: 100%;
}
.box{
    height: 100%;
    background: transparent;
}